libs/ios
example/HelloWorldFacebook/proj.ios/HelloWorldFacebook_ios.xcodeproj/xcuserdata
example/HelloWorldFacebook/proj.ios/HelloWorldFacebook_ios.xcodeproj/project.xcworkspace/xcuserdata
android/build/
android/oxygine-facebook.iml
example/HelloWorldFacebook/proj.win32/Debug_v140/
example/HelloWorldFacebook/proj.win32/.vs/
*.db
example/HelloWorldFacebook/proj.android/.gradle/
example/HelloWorldFacebook/proj.android/build/
example/HelloWorldFacebook/proj.android/obj/
example/HelloWorldFacebook/proj.android/libs/
